<h1>Farmers' Markets</h1>

<% @markets.each do |market| %>
  <p><%= link_to "#{market.name}", market_path(market), id: "js-marketShow", data: { id: "#{market.id}" } %></p>
  <div id="market_info"></div>
<% end %>
