<h3>Vendors:</h3>
<% @vendors.each do |vendor| %>
  <p><%= link_to "#{vendor.shop_name}", market_vendor_detail_path(@market, vendor) %></p>
<% end %>

<div>
  <h3>Filter items:</h3>
  <%= form_tag("/markets/#{@market.id}", method: "get") do %>
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "title"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
<br></br>
