<h1><%= @vendor.email %></h1>

<h3>Shop Name:</h3>
<p><%= @vendor.shop_name %></p>
<br>

<h3>Description:</h3>
<p><%= @vendor.description %></p>
<br>

<h3>Contact:</h3>
<p><%= @vendor.contact %></p>
<br>

<!-- <%#= link_to "Inventory", %> -->
